# virtualenv

virtualenv/*
virtualenv/bin/*
virtualenv/include/*
virtualenv/lib/*
virtualenv/pip-selfcheck.json
virtualenv/share/*

# test persos

test-perso/*
src/main.py

# IDE

.idea/*

# tudu -f notes

.notes_lock

# python

*.pyc
